body{
        background-color:rgb(240, 240, 240);

    }

    div{
        background-color: white;
        max-width:600px;
        min-width:200px;
        border:1px;
        border-radius:6px;
        padding: 40px;
        margin: 100px 150px 150px 325px;
        font-family: sans-serif;
    }

    a{
        text-decoration:none;
    }

    h1{
        font-weight:bolder;
     }